html, body {
	padding: 0;
	margin: 0;
}
.navbar-brand {
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 80px;
	font-size: 45px
}
#navbarNav {
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 75px;
	font-size: 15px;
}
footer {
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
}